apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: alertmanager-secrets
  namespace: argocd
  annotations:
    # Deploy secrets BEFORE the main application
    argocd.argoproj.io/sync-wave: "-2"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/LorenzoDeBie/Homelab-new.git
    targetRevision: main
    path: kubernetes/observability/kube-prometheus-stack
    plugin:
      name: sops-file
      env:
        - name: FILE
          value: alertmanager-secret.sops.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
