# Grafana admin credentials
# This file should be encrypted with SOPS before committing
# Run: sops --encrypt --in-place grafana-secret.sops.yaml
apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin
  namespace: observability
type: Opaque
stringData:
  admin-user: admin
  admin-password: YOUR_GRAFANA_PASSWORD  # TODO: Replace and encrypt
