apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gateway-api-resources
  namespace: argocd
  annotations:
    # After cert-manager (-5), Gateway API CRDs (-15), and Cilium (-10)
    argocd.argoproj.io/sync-wave: "-4"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/LorenzoDeBie/Homelab-new.git
    targetRevision: main
    path: kubernetes/core/gateway-api
    helm: {}
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
