apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homepage-secrets
  namespace: argocd
  annotations:
    # Deploy secrets BEFORE the main application
    argocd.argoproj.io/sync-wave: "-5"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/LorenzoDeBie/Homelab-new.git
    targetRevision: main
    path: kubernetes/apps/homepage
    plugin:
      name: sops-file
      env:
        - name: FILE
          value: secrets.sops.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
