app-template:
  controllers:
    bazarr:
      containers:
        app:
          image:
            repository: lscr.io/linuxserver/bazarr
            tag: latest@sha256:d6492cc79ca5e12fe617c7285e7ebd60d4e7f0e93ec7faa78338dba91f07a91e
          env:
            TZ: Europe/Brussels
            PUID: "3001"
            PGID: "3001"
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 4Gi
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
  
  service:
    app:
      controller: bazarr
      ports:
        http:
          port: 6767
  
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: nfs-config
      accessMode: ReadWriteOnce
      size: 1Gi
    
    # Shared media volume - needs write access to save subtitles
    # Configure in Bazarr UI:
    #   Sonarr Root Folder: /media/media/tv
    #   Radarr Root Folder: /media/media/movies
    media:
      enabled: true
      type: persistentVolumeClaim
      existingClaim: media
      globalMounts:
        - path: /media
