apiVersion: v2
name: qbittorrent
description: qBittorrent with HTTPRoute for internal access
type: application
version: 1.0.0
appVersion: "latest"

dependencies:
  - name: app-template
    version: 4.6.2
    repository: https://bjw-s-labs.github.io/helm-charts
