app-template:
  controllers:
    qbittorrent:
      containers:
        app:
          image:
            repository: lscr.io/linuxserver/qbittorrent
            tag: 5.1.4-r1-ls437@sha256:f430d70c70d1547fded30fbc3181c4750cef354212a5138ab754eba9ba8bd9e1
          env:
            TZ: Europe/Brussels
            PUID: "3001"
            PGID: "3001"
            WEBUI_PORT: &port 8080
            TORRENTING_PORT: &btport 50413
          resources:
            requests:
              cpu: 50m
              memory: 256Mi
            limits:
              memory: 2Gi
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
  
  service:
    app:
      controller: qbittorrent
      ports:
        http:
          port: *port
    bittorrent:
      controller: qbittorrent
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: "192.168.40.63"
      ports:
        bittorrent-tcp:
          port: *btport
          protocol: TCP
        bittorrent-udp:
          port: *btport
          protocol: UDP
  
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: nfs-config
      accessMode: ReadWriteOnce
      size: 1Gi
    
    # Shared media volume for hardlink support
    # Configure in qBittorrent UI:
    #   Default Save Path: /media/torrents
    media:
      enabled: true
      type: persistentVolumeClaim
      existingClaim: media
      globalMounts:
        - path: /media
