app-template:
  controllers:
    prowlarr:
      containers:
        app:
          image:
            repository: lscr.io/linuxserver/prowlarr
            tag: 2.3.0.5236-ls135
          env:
            TZ: Europe/Brussels
            PUID: "1000"
            PGID: "1000"
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 512Mi
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
  
  service:
    app:
      controller: prowlarr
      ports:
        http:
          port: 9696
  
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: nfs-config
      accessMode: ReadWriteOnce
      size: 1Gi
