apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/LorenzoDeBie/Homelab-new.git
    targetRevision: main
    path: kubernetes/core/cilium
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  # Ignore .status fields that have undeclared schema fields (terminatingReplicas)
  # Required when using SSA for CNI with many CRDs
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jqPathExpressions:
        - .status
    - group: apps
      kind: DaemonSet
      jqPathExpressions:
        - .status
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      # SSA recommended for Cilium's many CRDs
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
