# Cilium L2 Announcement Policy
# This allows Cilium to respond to ARP requests for LoadBalancer IPs
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: default-l2-policy
  annotations:
    argocd.argoproj.io/sync-wave: "-5"
spec:
  # Announce on all interfaces
  interfaces:
    - ^eth[0-9]+
    - ^en.*
  externalIPs: true
  loadBalancerIPs: true
---
# IP Pool for LoadBalancer services
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: default-pool
  annotations:
    argocd.argoproj.io/sync-wave: "-5"
spec:
  blocks:
    - start: 192.168.40.60
      stop: 192.168.40.80
