app-template:
  controllers:
    sonarr:
      containers:
        app:
          image:
            repository: lscr.io/linuxserver/sonarr
            tag: 4.0.16.2944-ls301@sha256:02b4d538d351d6e35882a021c08e8600fe95d28860fb1dd724b597166e7221ca
          env:
            TZ: Europe/Brussels
            PUID: "3001"
            PGID: "3001"
          resources:
            requests:
              cpu: 50m
              memory: 256Mi
            limits:
              memory: 1Gi
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
  
  service:
    app:
      controller: sonarr
      ports:
        http:
          port: 8989
  
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: nfs-config
      accessMode: ReadWriteOnce
      size: 5Gi
    
    # Shared media volume for hardlink support
    # Configure in Sonarr UI:
    #   Root Folder: /media/media/tv
    #   Download Client Remote Path: /media/torrents
    media:
      enabled: true
      type: persistentVolumeClaim
      existingClaim: media
      globalMounts:
        - path: /media
