# Cloudflare API Token for DNS01 challenge
# This file should be encrypted with SOPS before committing
# Run: sops --encrypt --in-place cloudflare-secret.sops.yaml
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
type: Opaque
stringData:
  api-token: YOUR_CLOUDFLARE_API_TOKEN  # TODO: Replace and encrypt with SOPS
