apiVersion: v2
name: tautulli
description: Tautulli - Plex Media Server monitoring and statistics
type: application
version: 1.0.0
appVersion: "latest"

dependencies:
  - name: app-template
    version: 4.6.2
    repository: https://bjw-s-labs.github.io/helm-charts
