app-template:
  controllers:
    tautulli:
      containers:
        app:
          image:
            repository: lscr.io/linuxserver/tautulli
            tag: latest@sha256:f55e949daad9389c98cd936285aff7529aa4b8f148cae97f738c831e7a216205
          env:
            TZ: Europe/Brussels
            PUID: "3001"
            PGID: "3001"
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 512Mi
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
  
  service:
    app:
      controller: tautulli
      ports:
        http:
          port: 8181
  
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: nfs-config
      accessMode: ReadWriteOnce
      size: 1Gi
