app-template:
  controllers:
    plex:
      containers:
        app:
          image:
            repository: lscr.io/linuxserver/plex
            tag: latest@sha256:bbe0118e39e2c071fc5fe39af3f32072207bf4146d56b6a8901bcb23082df207
          env:
            TZ: Europe/Brussels
            PUID: "3001"
            PGID: "3001"
            VERSION: docker
            PLEX_CLAIM: ""
            # Networks considered "local" by Plex (no remote access restrictions)
            # Includes home network and Kubernetes internal pod/service networks
            ALLOWED_NETWORKS: "192.168.0.0/16,10.0.0.0/8"
            # Tell Plex the URL clients use to reach it (required for hostname recognition)
            ADVERTISE_IP: "http://plex.int.lorenzodebie.be:32400,http://192.168.40.62:32400"
          resources:
            requests:
              cpu: 2000m
              memory: 4Gi
            limits:
              memory: 8Gi
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
  
  service:
    app:
      controller: plex
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: "192.168.40.62"
      ports:
        http:
          port: 32400
  
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: nfs-config
      accessMode: ReadWriteOnce
      size: 50Gi
    
    # Shared media volume (read-only for Plex)
    # Configure in Plex UI:
    #   TV Library: /media/media/tv
    #   Movies Library: /media/media/movies
    media:
      enabled: true
      type: persistentVolumeClaim
      existingClaim: media
      globalMounts:
        - path: /media
          readOnly: true
    
    transcode:
      enabled: true
      type: emptyDir
      globalMounts:
        - path: /transcode
